In [1]:
import pandas as pd

# Load the CSVs
df1 = pd.read_csv('data/data1.csv')
df2 = pd.read_csv('data/data2.csv')
df3 = pd.read_csv('data/data3.csv')

# Inspect data types and structure
print("DataFrame 1 (Customers):")
print(df1.info())
print(df1.head())
print("\nDataFrame 2 (Transactions):")
print(df2.info())
print(df2.head())
print("\nDataFrame 3 (Engagement):")
print(df3.info())
print(df3.head())

DataFrame 1 (Customers):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  9 non-null      int64
 1   name         9 non-null      object
 2   age          7 non-null      float64
 3   signup_date  9 non-null      object
 4   region       9 non-null      object
dtypes: float64(1), int64(1), object(3)
memory usage: 488.0+ bytes
None
   customer_id           name   age signup_date region
0            1    Bruce Wayne  25.0  2023-01-01  North
1            2     Jane Smith  30.0  2023-02-01  South
2            3    Bob Johnson   NaN  2023-03-01   West
3            4    Alice Brown  35.0  2023-04-01  North
4            5  Charlie Davis  28.0  2023-05-01   East

DataFrame 2 (Transactions):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       15 non-null     int64
 1   order_id          15 non-null     int64
 2   amount            15 non-null     float64
 3   order_date        15 non-null     object
 4   product_category  15 non-null     object
dtypes: float64(1), int64(2), object(2)
memory usage: 728.0+ bytes
None
   customer_id  order_id  amount  order_date product_category
0            1       101   50.75  2023-01-15      Electronics
1            1       102   25.00  2023-01-20            Books
2            2       103  100.00  2023-02-10         Clothing
3            2       104   75.50  2023-02-15      Electronics
4            3       105   30.25  2023-03-05            Books

DataFrame 3 (Engagement):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      8 non-null      int64
 1   visit_count      8 non-null      int64
 2   avg_rating       7 non-null      float64
 3   last_visit_date  8 non-null      object
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes
None
   customer_id  visit_count  avg_rating last_visit_date
0            1           10         4.5      2023-01-30
1            2            5         3.8      2023-02-25
2            3            2         2.5      2023-03-10
3            4            8         4.0      2023-04-20
4            6            3         NaN      2023-06-15

In [2]:
# Merge data1 and data2
merged_df = pd.merge(df1, df2, on='customer_id', how='left', suffixes=('_cust', '_trans'))

# Merge with data3
final_df = pd.merge(merged_df, df3, on='customer_id', how='left')
print("Merged DataFrame:")
print(final_df.info())
print(final_df.head())

Merged DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       16 non-null     int64
 1   name              16 non-null     object
 2   age               14 non-null     float64
 3   signup_date       16 non-null     object
 4   region            16 non-null     object
 5   order_id          14 non-null     float64
 6   amount            14 non-null     float64
 7   order_date        14 non-null     object
 8   product_category  14 non-null     object
 9   visit_count       12 non-null     float64
 10  avg_rating        11 non-null     float64
 11  last_visit_date   12 non-null     object
dtypes: float64(5), int64(1), object(6)
memory usage: 1.6+ KB
None
   customer_id         name   age signup_date region  order_id  amount  \
0            1  Bruce Wayne  25.0  2023-01-01  North     101.0   50.75
1            1  Bruce Wayne  25.0  2023-01-01  North     102.0   25.00
2            2   Jane Smith  30.0  2023-02-01  South     103.0  100.00
3            2   Jane Smith  30.0  2023-02-01  South     104.0   75.50
4            2   Jane Smith  30.0  2023-02-01  South     113.0   55.00

   order_date product_category  visit_count  avg_rating last_visit_date
0  2023-01-15      Electronics         10.0         4.5      2023-01-30
1  2023-01-20            Books         10.0         4.5      2023-01-30
2  2023-02-10         Clothing          5.0         3.8      2023-02-25
3  2023-02-15      Electronics          5.0         3.8      2023-02-25
4  2023-02-20             Home          5.0         3.8      2023-02-25

In [3]:
pivot_df = pd.pivot_table(final_df, values='amount', index='order_date', 
                          columns='product_category', aggfunc='sum')
print("Pivoted DataFrame:")
print(pivot_df)

Pivoted DataFrame:
product_category  Books  Clothing  Electronics   Home
order_date
2023-01-15          NaN       NaN        50.75    NaN
2023-01-20        25.00       NaN          NaN    NaN
2023-02-10          NaN     100.0          NaN    NaN
2023-02-15          NaN       NaN        75.50    NaN
2023-02-20          NaN       NaN          NaN   55.0
2023-03-05        30.25       NaN          NaN    NaN
2023-04-10          NaN       NaN          NaN  200.0
2023-04-15          NaN      35.5          NaN    NaN
2023-05-12        15.99       NaN          NaN    NaN
2023-05-15          NaN       NaN        80.00    NaN
2023-05-20        25.00       NaN          NaN    NaN
2023-07-01          NaN      45.0          NaN    NaN
2023-07-10          NaN       NaN          NaN   60.0
2023-08-05          NaN       NaN       120.00    NaN

In [4]:
agg_df = final_df.groupby('region').agg({'visit_count': 'mean', 'avg_rating': 'mean'}).reset_index()
print("Aggregated DataFrame:")
print(agg_df)

Aggregated DataFrame:
  region  visit_count  avg_rating
0   East     6.000000    3.900000
1  North     9.000000    4.250000
2  South     4.500000    3.800000
3   West     8.666667    3.633333

In [5]:
melted_df = pd.melt(final_df, id_vars=['customer_id', 'name'], 
                    value_vars=['amount', 'visit_count', 'avg_rating'],
                    var_name='metric', value_name='value')
print("Melted DataFrame:")
print(melted_df.head())

Melted DataFrame:
   customer_id         name  metric   value
0            1  Bruce Wayne  amount   50.75
1            1  Bruce Wayne  amount   25.00
2            2   Jane Smith  amount  100.00
3            2   Jane Smith  amount   75.50
4            2   Jane Smith  amount   55.00

In [6]:
df1 = df1.drop_duplicates(subset=['customer_id'], keep='first')

In [7]:
final_df['age'] = final_df['age'].fillna(final_df['age'].mean())
final_df['avg_rating'] = final_df['avg_rating'].fillna(final_df['avg_rating'].median())

In [8]:
final_df.to_csv('output/analytical_dataset.csv', index=False)